@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');


/* common shared stayle  */
body {
    font-family: 'Open Sans', sans-serif;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
.text-primary {
    color: #FD6E0A;
}

.section-title {
    color: #181818;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: normal;
}

.section-description {
    color:#757575;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}


/* Navbar Style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    margin: 0 200px;
}

.nav-logo {
    color: #181818;
    font-family: 'Open Sans', sans-serif;
    font-size: 45px;
    font-weight: 800;
    margin: 0;
}

nav > ul {
    display: flex;
    align-items: center;
}

nav ul li {
    margin-right: 50px;
}

nav ul li a{ 
    color: #474747;
}

header .btn-primary
{
    border: none;
    outline: none;
    border-radius: 5px;
    background: #FD6E0A;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
}

/* header style  */
header {
    background: #fff8f3;
    background-image: url(./images/header_bg.png), url(./images/developer.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom right, top left;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    max-height: 500px;
}

.banner .profile-picture {
    width: 500px;
}

.banner-greeting {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin: 0;
    
}

.banner-title {
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin: 0;
}

.banner-description {
    margin-bottom: 20px;
}



/* Main section */
main {
    justify-content: center;
}

    /* about section  */
.about {
    padding: 130px 230px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;
}


.about-info-container {
    display: flex;
    justify-content: space-around;

}
.about-info-container .about-info{
    text-align: center;
}
.about-info-container .about-info .info-title{
    margin:0;

}
.about-info-container .about-info .info-description{
    margin: 10px 0;
}

/* What I do Section  */

#what-i-do-description {
    padding: 30px 200px;
}

.skill-container {
    display: flex;
    padding: 0 120px;
    justify-content: space-between;
}

.skill-box {
    max-height: 377px;
    max-width: 250px;
    margin-right: 20px;
    overflow: hidden;
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}




/* Footer section  */
.footer-container {
    margin-top: 100px;
    padding: 50px 0;
    height: 780px;
    display: flex;
    justify-content: center;
    align-items:start;
    gap:100px;
}

.footer-column {
    max-width: 500px;
}


/* footer left  */
.footer-left-title {
    color: #181818;
    font-size: 35px;
    font-weight: 700;
    margin: 0;
}

.footer-left-description {
    color: #474747;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.footer-social-icon {
    display: flex;
    width: 30px;
    height: 30px;
}
.footer-social-icon img{
    margin-right: 15px;
    padding: 2px;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.footer-social-icon img:hover {
    background: #FFF;
}

/* footer right  */
.footer-right-title {
    margin: 0;
    color: #181818;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
}

.footer-column input,
.footer-column textarea {
    outline: none;
    border: 1px solid #47474741;
    width: 280px;
    padding: 9px 10px;
    margin-bottom: 10px;

}
.footer-column input::placeholder,
.footer-column textarea::placeholder {
    color: #757575b7;
}
.footer-column input:focus,
.footer-column textarea:focus {
    border: 1px solid #fd6f0aa9;
}

.footer-column textarea {
    resize: none;
  } 

  .footer-input-btn {
    outline: none;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    background: #FD6E0A;
    color: #FFF;
    padding: 8px 15px;
    cursor: pointer;
    transition: all 0.3s;
    max-width: 90px;
  }

  .footer-input-btn:hover {
    border: 1px solid #FD6E0A;
    background: #fff;
    color: #FD6E0A;
  }